# Copy this file to terraform.tfvars and fill in your values
# DO NOT commit terraform.tfvars to git

aws_region      = "ap-southeast-1"
instance_type   = "m5.xlarge"
key_name        = "jek-macbook-pro-key"
sql_sa_password = "YOUR_SQL_SA_PASSWORD_HERE"
dd_api_key      = "YOUR_DATADOG_API_KEY_HERE"
